# Staging — copy to terraform.tfvars (gitignored)
dt_env_url   = "https://REPLACE_ME.live.dynatrace.com"
dt_api_token = "dt0c01.REPLACE_ME"

pagerduty_integration_keys = {
  # payments = "REPLACE_ME_PD_KEY"
}

slack_webhook_urls = {
  # payments = "https://hooks.slack.com/services/REPLACE_ME"
}

synthetic_locations = [
  "GEOLOCATION-6F55B7E4B5E7A52F"
]

enable_grail_activation = false
dashboard_owner         = "terraform-sre"
