# Optional: pull Dynatrace secrets from AWS Secrets Manager instead of tfvars.
# Rename to secrets.tf and enable the aws provider in versions if you use this.
#
# terraform {
#   required_providers {
#     aws = { source = "hashicorp/aws", version = "~> 5.50" }
#   }
# }
#
# provider "aws" {
#   region = "ap-northeast-1"
# }
#
# data "aws_secretsmanager_secret_version" "dt_api_token" {
#   secret_id = "dev/dynatrace/api-token"
# }
#
# data "aws_secretsmanager_secret_version" "dt_tenant_url" {
#   secret_id = "dev/dynatrace/tenant-url"
# }
#
# Then set:
#   dt_env_url   = data.aws_secretsmanager_secret_version.dt_tenant_url.secret_string
#   dt_api_token = data.aws_secretsmanager_secret_version.dt_api_token.secret_string
